<h2 class='my_documents'>我的文档</h2>
<%= link_to('发布文档', new_document_path, class:'btn btn-primary btn-lg pull-right')%>
<br>
<br>
<table class="table">
  <thead>
    <tr>
      <td>文件名</td>
      <td>创建时间</td>
      <td>文件</td>
      <td>编辑文件</td>
      <td>删除文件</td>
    </tr>
  </thead>
<% @documents.each do |document| %>
  <tr>
    <td><%= document.file_name %></td>
    <td><%= document.created_at %></td>
    <td><%= document.file_url %></td>
    <td><%= link_to('编辑', '#') %></td>
    <td><%= link_to('删除文件', '#') %></td>
  </tr>
<% end %>
</table>
