<div class="col-md-4 col-md-offset-4">
  <h2>修改用户名密码</h2>
  <br>
  <br>
  <%= simple_form_for @user ,url: user_management_path(@user), method: :put do |f| %>
    <div class="form-inputs">
      <%= f.input :username, label: "用户名", required: true %>
      <%= f.input :password, label: "新密码", required: true, autofocus: true %>
      <%= f.input :password_confirmation, label: "确认新密码", required: true %>
    </div>
    <%= f.submit '提交', data: { disable_with: "提交中..."}  %>
  <% end %>
  </div>
</div>
